<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Delete User</h3>
<p>
    <a th:href="@{/user}">
        Back to user list
    </a>
</p>
<div id="form">
    <form th:object="${user}" method="POST">
        <input type="hidden" th:field="*{id}"/>
        <table>
            <tr>
                <th style="float: left"><label>UserName:  </label></th>
                <td><label th:text="${user.getUsername()}"></label></td>
            </tr>
            <tr>
                <th style="float: left"><label>Address:  </label></th>
                <td><label th:text="${user.getAddress()}"></label></td>
            </tr>
            <tr>
                <th style="float: left"><label>Phonenumber:  </label></th>
                <td><label th:text="${user.getPhone()}"></label></td>
            </tr>
            <tr>
                <th style="float: left"><label>Category:  </label></th>
                <td><label th:text="${user.category.name}"></label></td>
            </tr>
        </table>
        <input type="submit" value="Delete user">
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>