<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Edit User</h3>
<p>
    <a th:href="@{/user}">
        Back to user list
    </a>
</p>
<div id="form">
    <form th:object="${user}" method="POST">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>UserName</label>
            <input type="text" th:field="*{username}"/>
        </div>
        <div>
            <label>Address</label>
            <input type="text" th:field="*{address}"/>
        </div>
        <div>
            <label>Phonenumber</label>
            <input type="text" th:field="*{phone}"/>
        </div>
        <div>
            <label>Category</label>
            <select name="category">
                <option th:each="categori : ${categories}"
                        th:value="${categori.id}"
                        th:text="${categori.name}"
                        th:selected="(${categori.id} == *{category.id})"></option>
            </select>
        </div>
        <input type="submit" value="Edit user">
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>